sus_scriptsTruck1.0.14/.svn/
sus_scriptsTruck1.0.14/Library/
sus_scriptsTruck1.0.14/Temp/
*.csproj
*.sln
sus_scriptsTruck1.0.14/.idea/
sus_scriptsTruck1.0.14/obj/
sus_scriptsTruck1.0.14/Assets/XLua/
sus_scriptsTruck1.0.14/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
sus_scriptsTruck1.0.14/.data/
sus_scriptsTruck1.0.14/Assets/Bundle/lua/
sus_scriptsTruck1.0.14/Assets/Bundle/Book/
sus_scriptsTruck1.0.14/Assets/Bundle/Data/
sus_scriptsTruck1.0.14/APP_OUT/
sus_scriptsTruck1.0.14/Assembly-CSharp.csproj.meta
sus_scriptsTruck1.0.14/Assembly-CSharp-Editor.csproj.meta
sus_scriptsTruck1.0.14/Assembly-CSharp-Editor-firstpass.csproj.meta
sus_scriptsTruck1.0.14/Assembly-CSharp-firstpass.csproj.meta
sus_scriptsTruck1.0.14/Assets.meta
sus_scriptsTruck1.0.14/Assets/Plugins/Android/Firebase/res/values/crashlytics_build_id.xml
sus_scriptsTruck1.0.14/Assets/Resources/t_Localization.bytes
sus_scriptsTruck1.0.14/ProjectSettings/ProjectSettings.asset
sus_scriptsTruck1.0.14/Assets/Bundle/BookPreview/icon.prefab
sus_scriptsTruck1.0.14/ProjectSettings/GraphicsSettings.asset
sus_scriptsTruck1.0.14/.tools/
sus_scriptsTruck1.0.14/Z_Work/
sus_scriptsTruck1.0.14/ProjectSettings/
sus_scriptsTruck1.0.14/Packages/
*.meta
sus_scriptsTruck1.0.14/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-6_16_1.so
